 Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/*index*/
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#pillHolder{
	position:absolute;
	left:30%;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*columns*/
#pill{
	
}
#doc{
	width:100px;
}
#columns{
}
#preBox{
	width:500px;
	border: 15px solid black;
	margin:0px;
	padding: 15px;
}
/*modal*/
.modal{
  	max-height: 100%;
  	max-width: 100%;
  	overflow: visible;
}

#medCollect{
	width: 100%;
}
.collapsible-body p{
	padding-top: 5px;
	font-family: "Roboto", sans-serif;
}
/*dashboard*/
/*side bar*/
header, main, body, footer {
      padding-left: 240px;
    }
.done button{
	top: -20px;
}
#rbar{
	width: 80px;
}
    

.side-nav{
	width: 240px;



}
#logo{
	width:125px;
	margin:20px 20px 20px 20px;

}